<!--Login Page Starts-->
<section id="login">
  <div class="container-fluid">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card gradient-indigo-purple text-center width-400">
          <div class="card-img overlap">
            <img alt="element 06" class="mb-1" src="assets/img/portrait/avatars/avatar-08.png" width="190">
          </div>
          <div class="card-body">
            <div class="card-block">
              <h2 class="white">Login</h2>
              <form>
                <div *ngIf="valid" class="alert alert-danger text-center">
                  <span>{{validationmsg}}</span>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <input type="email" class="form-control" [(ngModel)]="email" name="inputEmail" id="inputEmail"
                      placeholder="Email">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12">
                    <input type="password" class="form-control" name="inputPass" [(ngModel)]="password" id="inputPass"
                      placeholder="Password">
                  </div>
                </div>

                <!-- <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0 ml-3">
                        <input type="checkbox" class="custom-control-input" checked id="rememberme">
                        <label class="custom-control-label float-left white" for="rememberme">Remember Me</label>
                      </div>
                    </div>
                  </div>
                </div> -->

                <div class="form-group">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-pink btn-block btn-raised" (click)="onSubmit()">Submit</button>
                    <!-- <button type="button" class="btn btn-secondary btn-block btn-raised">Cancel</button> -->
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card-footer">
            <div class="float-left"><a (click)="onForgotPassword()" class="white">Recover Password</a></div>
            <!-- <div class="float-right"><a (click)="onRegister()" class="white">New User?</a></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->
