<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 col-12 clsPointer">
    <div class="card gradient-green-tea">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">{{ViewedList?.length}}</h3>
              <span class="font-small-3 mb-0">Viewed Profiles</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-users font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12 clsPointer">
    <div class="card gradient-blackberry">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">{{ShortlistedList?.length}}</h3>
              <span class="font-small-3 mb-0">Shortlisted Candidates</span>
            </div>
            <div class="media-right white text-right">
              <i class="ft-user-minus font-large-1"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-12 clsPointer">
    <div class="card gradient-pomegranate">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">{{RecruitedList?.length}}</h3>
              <span class="font-small-3 mb-0">Recruited Profiles</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-user-following font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12 clsPointer">
    <div class="card gradient-ibiza-sunset">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">{{RejectedList?.length}}</h3>
              <span class="font-small-3 mb-0">Rejected Profiles</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-user-unfollow font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" matchHeight="card">
  <div class="col-lg-4 col-md-12">
    <div class="card" style="min-height: 614px;">
      <div class="card-header text-center pb-0">
        <span class="font-medium-2 primary">Today's KTOC Star</span>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col-md-12" *ngIf="ktocstarList">
            <div class="row d-flex py-2">
              <div class="col align-self-center text-center">
                <img alt="96x96" class="img-responsive imgktocStar" src="assets/img/ktoc_star.png"><br />
                <img alt="96x96" style="width: 96px;height: 96px;" class="bg-danger rounded-circle img-fluid" [src]="ktocstaruser?.imageurl ? ktocstaruser.imageurl : defaultimage">
              </div>
            </div>
            <h3 class="font-medium-1 text-center">{{ktocstaruser?.name}}
              <span class="font-small-2 grey d-block text-center">{{ktocstaruser?.collegeinfo[0]?.collegename}}</span>
            </h3>
            <div class="row brdr-btm-star">
              <div class="col-4 pr-1 text-right">
                <a class="btn btn-flat btn-info f14 " style="padding-top: 3px;">
                  <span _ngcontent-c7="" class="fa ft-thumbs-up"></span>&nbsp;<u>Like</u></a>
              </div>
              <div class="col-4 pl-1">
                <span class="font-medium-1"> {{ktocstarList?.pointawarded}} Coins
                  <i class="fa fa-caret-up font-medium-1 success"></i>
                  <div class="card-header text-center pb-0">
                  </div>
                </span></div>
              <div class="col-4 pl-0 text-left">
                <a class="btn btn-flat btn-info f14" style="padding-top: 5px;">
                  <span _ngcontent-c7="" class="icon-present"></span>&nbsp;<u>Congrats</u></a>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center" style="height: 200px;" *ngIf="!ktocstarList">
            <br>
            <br>
            <br>
            <br>
            <br>
            <span class="text-primary">Today no ktoc star</span>
          </div>
        </div>
        <div class="card-header text-center pb-0">

          <span class="font-medium-2 primary">This Week KTOC King</span>
        </div>

        <div class="row">
          <div class="col-md-12" *ngIf="ktockingList">


            <div class="row d-flex py-2">
              <div class="col align-self-center text-center">
                <img alt="96x96" class="img-responsive imgktocKing" src="assets/img/ktoc_king.png"><br />
                <img alt="96x96" style="width: 96px;height: 96px;" class="bg-danger rounded-circle img-fluid" [src]="ktockinguser?.imageurl ? ktockinguser.imageurl : defaultimage">
              </div>
            </div>
            <h3 class="font-medium-1 text-center">{{ktockinguser?.name}}
              <span class="font-small-2 grey d-block text-center">{{ktockinguser?.collegeinfo[0]?.collegename}}</span>
            </h3>
            <div class="row">
              <div class="col-4 pr-1 text-right">
                <a class="btn btn-flat btn-info f14 " style="padding-top: 3px;">
                  <span _ngcontent-c7="" class="fa ft-thumbs-up"></span>&nbsp;<u>Like</u></a>
              </div>
              <div class="col-4 pl-1">
                <span class="font-medium-1"> {{ktockingList?.point}} Coins
                  <i class="fa fa-caret-up font-medium-1 success"></i>
                  <div class="card-header text-center pb-0">
                  </div>
                </span></div>
              <div class="col-4 pl-0 text-left">
                <a class="btn btn-flat btn-info f14" style="padding-top: 5px;">
                  <span _ngcontent-c7="" class="icon-present"></span>&nbsp;<u>Congrats</u></a>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center" style="height: 200px;" *ngIf="!ktockingList">
            <br>
            <br>
            <br>
            <br>
            <br>
            <span class="text-primary">This week no ktoc King/Queen</span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-12">
    <div class="card" style="min-height: 692px;">
      <div class="card-header text-center pb-0">
        <span class="font-medium-2 warning">High Value Resource</span>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="row d-flex mb-3 py-2">
            <div class="col align-self-center text-center">
              <img alt="96x96" class="img-responsive imgktocExpert" src="assets/img/ktoc_expert.png" style="height:100px"><br />
              <img alt="96x96" style="width: 96px;height: 96px;" class="bg-danger rounded-circle img-fluid" [src]="highvalueplayer[0]?.imageurl ? highvalueplayer[0].imageurl : defaultimage">

            </div>
          </div>
          <h3 class="font-large-1 text-center">{{highvalueplayer[0]?.name}}</h3>
          <span class="font-medium-1 grey d-block text-center">{{highvalueplayer[0]?.collegeinfo[0]?.collegename}}</span>

          <div class="row mt-4 mb-3">
            <div class="col-xl-12 col-12 text-center">
              <!-- <span class="font-large-1"> 1,00,000 INR
                <i class="fa fa-caret-up font-large-2 success"></i>
              </span> -->
              <div class="row">
                <div class="col-4 pr-1 text-right">
                  <a class="btn btn-flat btn-info f14 " style="padding-top: 3px;">
                    <span _ngcontent-c7="" class="fa ft-thumbs-up"></span>&nbsp;<u>Like</u></a>
                </div>
                <div class="col-4 pl-1">
                  <span class="font-medium-1"> {{highvalueplayer[0]?.points}} Coins
                    <i class="fa fa-caret-up font-medium-1 success"></i>
                    <div class="card-header text-center pb-0">
                    </div>
                  </span></div>
                <div class="col-4 pl-0 text-left">
                  <a class="btn btn-flat btn-info f14" style="padding-top: 5px;">
                    <span _ngcontent-c7="" class="icon-present"></span>&nbsp;<u>Congrats</u></a>
                </div>
              </div>
              <div class="text-center pb-0">
                <div id="donut-chart3" class="height-200 donut2">
                  <x-chartist [data]="DonutChart3.data" [type]="DonutChart3.type" [options]="DonutChart3.options"
                    [responsiveOptions]="DonutChart3.responsiveOptions" [events]="DonutChart3.events">
                  </x-chartist>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-12">
    <div class="card" style="min-height: 614px;">
      <div class="card-header text-center pb-0">
        <span class="font-medium-2 primary">All time KTOC Star</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12" *ngIf="ktocalltimestarList">


            <div class="row d-flex py-2">
              <div class="col align-self-center text-center">
                <img alt="96x96" class="img-responsive imgktocStar" src="assets/img/ktoc_star.png"><br />
                <img alt="96x96" style="width: 96px;height: 96px;" class="bg-danger rounded-circle img-fluid" [src]="ktocalltimestaruser?.imageurl ? ktocalltimestaruser.imageurl : defaultimage">
              </div>
            </div>
            <h3 class="font-medium-1 text-center">{{ktocalltimestaruser?.name}}
              <span class="font-small-2 grey d-block text-center">{{ktocalltimestaruser?.collegeinfo[0]?.collegename}}</span>
            </h3>
            <div class="row brdr-btm-star">
              <div class="col-4 pr-1 text-right">
                <a class="btn btn-flat btn-info f14 " style="padding-top: 3px;">
                  <span _ngcontent-c7="" class="fa ft-thumbs-up"></span>&nbsp;<u>Like</u></a>
              </div>
              <div class="col-4 pl-1">
                <span class="font-medium-1"> {{ktocalltimestarList?.point}} Coins
                  <i class="fa fa-caret-up font-medium-1 success"></i>
                  <div class="card-header text-center pb-0">
                  </div>
                </span></div>
              <div class="col-4 pl-0 text-left">
                <a class="btn btn-flat btn-info f14" style="padding-top: 5px;">
                  <span _ngcontent-c7="" class="icon-present"></span>&nbsp;<u>Congrats</u></a>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center" style="height: 200px;" *ngIf="!ktocalltimestarList">
            <br>
            <br>
            <br>
            <br>
            <br>
            <span class="text-primary">No all time ktoc star</span>
          </div>

        </div>

        <div class="card-header text-center pb-0">
          <span class="font-medium-2 primary">All time KTOC King/Queeen</span>
        </div>
        <div class="row">
          <div class="col-md-12" *ngIf="ktocalltimeking">


            <div class="row d-flex py-2">
              <div class="col align-self-center text-center">
                <img alt="96x96" class="img-responsive imgktocKing" src="assets/img/ktoc_king.png"><br />
                <img alt="96x96" style="width: 96px;height: 96px;" class="bg-danger rounded-circle img-fluid" [src]="ktocalltimekinguser?.imageurl ? ktocalltimekinguser.imageurl : defaultimage">
              </div>
            </div>
            <h3 class="font-medium-1 text-center">{{ktocalltimekinguser?.name}}
              <span class="font-small-2 grey d-block text-center">{{ktocalltimekinguser?.collegeinfo[0]?.collegename}}</span>
            </h3>
            <div class="row">
              <div class="col-4 pr-1 text-right">
                <a class="btn btn-flat btn-info f14 " style="padding-top: 3px;">
                  <span _ngcontent-c7="" class="fa ft-thumbs-up"></span>&nbsp;<u>Like</u></a>
              </div>
              <div class="col-4 pl-1">
                <span class="font-medium-1"> {{ktocalltimeking?.point}} Coins
                  <i class="fa fa-caret-up font-medium-1 success"></i>
                  <div class="card-header text-center pb-0">
                  </div>
                </span></div>
              <div class="col-4 pl-0 text-left">
                <a class="btn btn-flat btn-info f14" style="padding-top: 5px;">
                  <span _ngcontent-c7="" class="icon-present"></span>&nbsp;<u>Congrats</u></a>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center" style="height: 200px;" *ngIf="!ktocalltimeking">
            <br>
            <br>
            <br>
            <br>
            <br>
            <span class="text-primary">No all time ktoc king/queen</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" matchHeight="card">
  <div class="col-xl-6 col-lg-12">
    <div class="card" style="min-height: 480px;">
      <div class="card-header">
        <h4 class="card-title mb-0">Top 5 Players</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="media mb-3" *ngFor="let item of topplayers">
            <img alt="96x96" style="width:50px;" class="media-object d-flex mr-3 align-self-center bg-primary height-50 rounded-circle"
              [src]="item?.imageurl ? item.imageurl : defaultimage">
            <div class="media-body">
              <h4 class="font-medium-1 mt-2 mb-0 info">{{item?.name}}</h4>
              <h6 class="font-small-2 mt-1 mb-0">{{item?.collegeinfo[0]?.collegename}}</h6>
            </div>
            <a class="d-flex ml-3 btn-raised btn-round gradient-blackberry py-2 width-150 justify-content-center white btn-cursorDefault">{{item?.points}}
              Coins</a>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-12 col-12">
    <!-- <div class="card">
      <div class="card-header">
        <h4 class="card-title">Candidates Details</h4>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm text-center">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Candidates</th>
              <th>Count</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td class="text-left">Total Candidates</td>
              <td>407</td>
              <td>
                <a class="btn btn-raised btn-round btn-primary">View more</a>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td class="text-left">Shortlisted Candidates</td>
              <td>291</td>
              <td>
                <a class="btn btn-raised btn-round btn-primary">View more</a>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td class="text-left">Rejected Candidates</td>
              <td>116</td>
              <td>
                <a class="btn btn-raised btn-round btn-primary">View more</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->

    <div class="card">
      <div class="card-header">
        <h4 class="card-title">KTOC Certified User Details</h4>
      </div>
      <div class="card-body" style="padding:1.5rem">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-12 clsPointer">
            <div class="card gradient-grapefruit-sunset htAuto">
              <div class="card-body">
                <div class="card-block pt-2 pb-0">
                  <div class="media">
                    <div class="media-body white text-left">
                      <h3 class="font-large-1 mb-0">0</h3>
                      <span class="font-small-3 mb-0 ft8rem">Total Certified</span>
                    </div>
                    <div class="media-right white text-right">
                      <i class="ft-users font-large-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-12 clsPointer">
            <div class="card gradient-blue-grey-blue htAuto">
              <div class="card-body">
                <div class="card-block pt-2 pb-0">
                  <div class="media">
                    <div class="media-body white text-left">
                      <h3 class="font-large-1 mb-0">0</h3>
                      <span class="font-small-3 mb-0 ft8rem">Foundation Certified</span>
                    </div>
                    <div class="media-right white text-right">
                      <i class="ft-trending-up font-large-1"></i>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-12 clsPointer">
            <div class="card gradient-indigo-purple htAuto">
              <div class="card-body">
                <div class="card-block pt-2 pb-0">
                  <div class="media">
                    <div class="media-body white text-left">
                      <h3 class="font-large-1 mb-0">0</h3>
                      <span class="font-small-3 mb-0 ft8rem">Practitioner Certified</span>
                    </div>
                    <div class="media-right white text-right">
                      <i class="icon-shield font-large-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-12 clsPointer">
            <div class="card gradient-pomegranate htAuto">
              <div class="card-body">
                <div class="card-block pt-2 pb-0">
                  <div class="media">
                    <div class="media-body white text-left">
                      <h3 class="font-large-1 mb-0">0</h3>
                      <span class="font-small-3 mb-0 ft8rem">Expert Certified</span>
                    </div>
                    <div class="media-right white text-right">
                      <i class="icon-trophy font-large-1"></i>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
