@import "../../../assets/sass/scss/gradient-variables";

:host /deep/ .ct-grid{
    stroke-dasharray: 0px;
    stroke: rgba(0, 0, 0, 0.1);
}

:host /deep/ .ct-label{
    font-size: 0.9rem;
}

//widget Line Chart CSS Starts
 
:host /deep/ .WidgetlineChart .ct-point {
    stroke-width: 0px;
}
:host /deep/ .WidgetlineChart .ct-line{
    stroke: #fff;
}
:host /deep/ .WidgetlineChartShadow {
    -webkit-filter: drop-shadow( 0px 15px 5px rgba(0,0,0,0.8) );
            filter: drop-shadow( 0px 15px 5px rgba(0,0,0,0.8) ); /* Same syntax as box-shadow, except for the spread property */
}

//widget Line Chart CSS Ends

//widget Line Chart 1 CSS Starts
:host /deep/ .WidgetlineChart1 .ct-point {
    stroke-width: 0px;
}
:host /deep/ .WidgetlineChart1 .ct-line{
    stroke: url($dashboard2-gradient-path +  #widgradient) !important; // #009DA0; 
}

:host /deep/ .WidgetlineChart1Shadow {
    -webkit-filter: drop-shadow( 0px 20px 5px rgba(0,0,0,0.3) );
            filter: drop-shadow( 0px 20px 5px rgba(0,0,0,0.3) ); /* Same syntax as box-shadow, except 
                                                       for the spread property */
}
//widget Line Chart 1 CSS Ends

//widget Line Chart 2 CSS Starts

:host /deep/ .WidgetlineChart2 .ct-point {
    stroke-width: 0px;
}
:host /deep/ .WidgetlineChart2 .ct-line{
    stroke:url($dashboard2-gradient-path +  #widgradient1) !important;
}
:host /deep/ .WidgetlineChart2 .ct-grid {
    stroke-dasharray: 0px;    
     stroke: rgba(255, 255, 255, 0.2);
}
:host /deep/ .WidgetlineChart2Shadow {
    -webkit-filter: drop-shadow( 0px 20px 5px rgba(0,0,0,0.3) );
            filter: drop-shadow( 0px 20px 5px rgba(0,0,0,0.3) ); /* Same syntax as box-shadow, except 
                                                       for the spread property */
}
//widget Line Chart 2 CSS Ends


//Donut Chart 1 CSS Starts

:host /deep/ .donut1 .ct-label {
    text-anchor: middle;
    alignment-baseline: middle;
    font-size: 60px;
    fill: #009DA0;
  }

  :host /deep/ .donut1 .ct-outstanding .ct-slice-donut {
    stroke: #eee;    
  }

  :host /deep/ .donut1 .ct-done .ct-slice-donut {
    stroke: #009DA0;
  }

  //Donut Chart 1 CSS Ends

  //Donut Chart 2 CSS Starts

  :host /deep/ .donut2 .ct-label {
    text-anchor: middle;
    alignment-baseline: middle;
    font-size: 60px;
    fill: #FF8D60;
  }

  :host /deep/ .donut2 .ct-outstanding .ct-slice-donut {
    stroke: #eee;    
  }

  :host /deep/ .donut2 .ct-done .ct-slice-donut {
    stroke: #FF8D60;
  }

  //Donut Chart 2 CSS Ends

  //Donut Chart 3 CSS Starts

  :host /deep/ .donut3 .ct-label {
    text-anchor: middle;
    alignment-baseline: middle;
    font-size: 60px;
    fill: #FF586B;
  }

  :host /deep/ .donut3 .ct-outstanding .ct-slice-donut {
    stroke: #eee;    
  }

  :host /deep/ .donut3 .ct-done .ct-slice-donut {
    stroke: #FF586A;
  }

  //Donut Chart 3 CSS Ends

  // Line area chart CSS Starts

  :host /deep/ .lineAreaChart .ct-series-a .ct-area {
    fill: url($dashboard2-gradient-path +  #gradient) !important;
}

:host /deep/ .lineAreaChart .ct-series-b .ct-area {
    fill: #ff8d60;
    fill-opacity: 0.1;
}

:host /deep/ .lineAreaChart .ct-point-circle {
    stroke-width: 2px;
    fill: white;
}

:host /deep/ .lineAreaChart .ct-series-b .ct-point-circle {
    stroke: #ff8d60;
}

:host /deep/ .lineAreaChart .ct-series-a .ct-point-circle {
    stroke: #31afb2;
}

:host /deep/ .lineAreaChart .ct-line {
    fill: none;
    stroke-width: 1px;
}

// Line area chart CSS Ends

//Line chart 2 CSS Starts

:host /deep/ .lineChart2 .ct-point-circle {
    stroke-width: 2px;
    fill: white;
}

:host /deep/ .lineChart2 .ct-series-b .ct-point-circle {
    stroke: #ff8d60;
}

:host /deep/ .lineChart2 .ct-series-a .ct-point-circle {
    stroke: #31afb2;
}

:host /deep/ .lineChart2 .ct-line {
    fill: none;
    stroke-width: 1px;
}

:host /deep/ .lineChart2Shadow {
    -webkit-filter: drop-shadow( 0px 25px 8px rgba(0,0,0,0.3) );
            filter: drop-shadow( 0px 25px 8px rgba(0,0,0,0.3) ); /* Same syntax as box-shadow, except 
                                                       for the spread property */
}
//Line chart 2 CSS Ends

//Line Chart 1 CSS Starts

:host /deep/ .lineChart1 .ct-line {
    fill: none;
    stroke-width: 3px;
}

:host /deep/ .lineChart1 .ct-point {
    stroke-width: 0px;
}

:host /deep/ .lineChart1Shadow {
    -webkit-filter: drop-shadow( 0px 20px 6px rgba(0,0,0,0.3) );
            filter: drop-shadow( 0px 20px 6px rgba(0,0,0,0.3) ); /* Same syntax as box-shadow, except 
                                                       for the spread property */
}
//Line Chart 1 CSS Ends


.brdr-btm-star
{
    border-bottom: 5px solid #f2f4f7;
    margin-bottom: 8px;
    margin-top: -8px;
}

.f14
{
    font-size:14px;
}

.clsPointer
{
    cursor:pointer;
}

.htAuto
{
    height:auto !important;
}


.ft8rem
{
    font-size: 0.8rem !important;
}