<style>
  ngb-accordion [role=tabpanel] {
    padding: 0px !important;
    margin-bottom: 3px;
  }

  ngb-accordion [role=tab] {
    padding: 0px !important;
    margin-left: -15px;
  }

  #viewContainer {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    padding: 10px;
    /* height: 90px; */
    /* display: table; */
  }

  .page {
    text-align: center;
    /* width: 120px;
  height: 100%; */
    /* display: table-cell; */
    border: 1px solid #ccc;
    display: inline-block;
  }

  .active {
    background-color: #eee;
  }

  .grid-hover figure p {
    margin: 0;
    letter-spacing: 1px;
    font-size: 68.5%;
  }

  div.bk-wd {
    word-wrap: break-word;
  }

  div.bk-wd {
    max-width: 350px;
    overflow: auto;
  }

  .f12px {
    font-size: 12px;
  }

  .f15px {
    font-size: 15px;
  }
</style>


<section id="friends">
  <div class="row">
    <div class="col-12">
      <div class="content-header">View Profile</div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-12">
      <div class="row">
        <!-- <div class="col-xl-1 col-lg-6 col-md-6 col-12"></div> -->
        <div class="col-xl-2 col-lg-6 col-md-6 col-12">
          <div class="card gradient-blackberry">
            <div class="card-body">
              <div class="card-block pt-2 pb-0">
                <div class="media">
                  <div class="media-body white text-left">
                    <h3 class="font-medium-1 mb-0">{{peoplekey}}%</h3>
                    <span class="font-medium-1 mb-0">People Key</span>
                  </div>
                  <div class="media-right white text-right">
                    <i class="icon-pie-chart font-medium-1"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-12">
          <div class="card gradient-ibiza-sunset">
            <div class="card-body">
              <div class="card-block pt-2 pb-0">
                <div class="media">
                  <div class="media-body white text-left">
                    <h3 class="font-medium-1 mb-0">{{industrykey}}%</h3>
                    <span class="font-medium-1 mb-0">Industry Key</span>
                  </div>
                  <div class="media-right white text-right">
                    <i class="icon-pie-chart font-medium-1"></i>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card gradient-green-tea">
            <div class="card-body">
              <div class="card-block pt-2 pb-0">
                <div class="media">
                  <div class="media-body white text-left">
                    <h3 class="font-medium-1 mb-0">{{entruponalkey}}%</h3>
                    <span class="font-medium-1 mb-0">Entrepreneurial
                      <br />Key</span>
                  </div>
                  <div class="media-right white text-right">
                    <i class="icon-pie-chart font-medium-1"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-12">
          <div class="card gradient-pomegranate">
            <div class="card-body">
              <div class="card-block pt-2 pb-0">
                <div class="media">
                  <div class="media-body white text-left">
                    <h3 class="font-medium-1 mb-0">{{innovationkey}}%</h3>
                    <span class="font-medium-1 mb-0">Innovative Key</span>
                  </div>
                  <div class="media-right white text-right">
                    <i class="icon-pie-chart font-medium-1"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-xl-2 col-lg-6 col-md-6 col-12">
          <div class="card gradient-politics">
            <div class="card-body">
              <div class="card-block pt-2 pb-0">
                <div class="media">
                  <div class="media-body white text-left">
                    <h3 class="font-medium-1 mb-0">{{curriculamkey}}%</h3>
                    <span class="font-medium-1 mb-0">Puvi</span>
                    <br>
                    <span class="font-medium-1 mb-0">Key</span>
                  </div>
                  <div class="media-right white text-right">
                    <i class="icon-pie-chart font-medium-1"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-header text-center">
          <img alt="96x96" class="img-responsive imgktocExpert" src="assets/img/ktoc_expert.png" style="height:100px;display: none;">
          <br />
          <img [src]="userInfo?.imageurl ? userInfo.imageurl : defaultimage" alt="Brek" width="150" class="rounded-circle gradient-mint brdrExpert"
            height="150">
        </div>
        <div class="card-body">
          <div class="card-block text-center">
            <h4 class="card-title">{{userInfo?.name}}</h4>
            <p class="category text-gray font-small-4">{{userInfo?.ktocid}}</p>

            <div class="col-12 col-md-6 col-lg-12 text-left">
              <ul class="no-list-style" style="padding-left:0px;">
                <li class="">
                  <span class="text-bold-300 primary">
                    <i class="fa fa-th-list font-small-3"></i> College:
                    <label class="text-muted">{{userInfo?.collegeinfo[0]?.collegename}}</label>
                  </span>
                </li>
                <li class="">
                  <span class="text-bold-300 primary">
                    <i class="fa fa-book font-small-3"></i> Department:
                    <label class="text-muted">{{userInfo?.collegeinfo[0]?.stream}}</label>
                  </span>
                </li>
                <li class="">
                  <span class="text-bold-300 primary">
                    <i class="ft-phone font-small-3"></i> Mobile:
                    <label class="text-muted">{{userInfo?.phonenumber}}</label>
                  </span>
                </li>
                <li class="mb-2">
                  <span class="text-bold-300 primary">
                    <i class="fa fa-envelope-o font-small-3"></i> Email:
                    <label class="text-muted">{{userInfo?.email}}</label>
                  </span>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-12 text-left mb-2">
              <a class="btn btn-raised btn-info shadow-z-2 btn-round mr-1" (click)="shortlist()" *ngIf="isRecuruiter"><span
                  *ngIf="!isShortlisted">Shortlist</span><span *ngIf="isShortlisted">Shortlisted</span></a>
              <a class="btn btn-raised btn-success shadow-z-2 btn-round mr-1" (click)="offered()" *ngIf="isRecuruiter"><span
                  *ngIf="!isRecruited">Offer</span><span *ngIf="isRecruited">Offered</span></a>

            </div>
            <div class="col-12 col-md-6 col-lg-12 text-center mb-2">

              <a class="btn btn-raised btn-danger shadow-z-2 btn-round mr-1" (click)="rejected()" *ngIf="isRecuruiter"><span
                  *ngIf="!isRejected">Reject</span><span *ngIf="isRejected">Rejected</span></a>
            </div>
            <div class="col-12 col-md-6 col-lg-12 text-center">

              <ng-template #SMSContent let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title">Send Message</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                  <!-- <div class="form-body">
                          <div class="row">
                            <div class="col-md-3">
                              <label for="disabledInput">
                                <b>Send to</b>
                              </label>
                            </div>
                            <div class="col-md-9">
                              <p class="form-control-static" id="staticInput">+91 8956320147</p>
                            </div>
                          </div>
                        </div> -->

                  <div class="row">

                    <div class="col-xl-12 col-lg-6 col-md-12">
                      <form [formGroup]='viewSMSForm' novalidate>
                        <fieldset class="form-group">
                          <label for="placeTextarea">
                            <b>Message</b>
                            <span class="text-danger"> *</span>
                          </label>
                          <!-- <textarea class="form-control" id="txtsmsMSGBody" placeholder="Type here to send..." required></textarea> -->
                          <textarea class="form-control" name="smsMSGBody" placeholder="Type here to send..."
                            [(ngModel)]="smsMSGBody" formControlName="smsMSGBody" required></textarea>
                          <div *ngIf="viewSMSForm.controls['smsMSGBody'].invalid && (viewSMSForm.controls['smsMSGBody'].dirty || isSubmitted)"
                            class="text-danger">
                            <div class="font-size" *ngIf="validationMessage && viewSMSForm.controls['smsMSGBody'].errors.required">
                              Message is required.
                            </div>
                          </div>
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info btn-raised" (click)="sendSMSNotification()">Send</button>
                  <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                </div>
              </ng-template>

              <ng-template #EmailContent let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title">Send Email</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="form form-horizontal">

                    <div class="row">
                      <!-- <div class="col-xl-12 col-lg-6 col-md-12">
                      <fieldset class="">
                        <label for="disabledInput">
                          <b>Send to</b>
                        </label>
                        <p class="form-control-static" id="staticInput">xyz@gmail.com</p>
                      </fieldset>
                    </div> -->
                      <div class="col-xl-12 col-lg-6 col-md-12">
                        <form [formGroup]='viewEmailForm' novalidate>
                          <fieldset class="form-group">
                            <label for="placeTextarea">
                              <b>Message</b>
                              <span class="text-danger"> *</span>
                            </label>
                            <textarea class="form-control" name="emailMSGBody" placeholder="Type here to send..."
                              [(ngModel)]="emailMSGBody" formControlName="emailMSGBody" required></textarea>
                            <div *ngIf="viewEmailForm.controls['emailMSGBody'].invalid && (viewEmailForm.controls['emailMSGBody'].dirty || isSubmitted)"
                              class="text-danger">
                              <div class="font-size" *ngIf="validationMessage && viewEmailForm.controls['emailMSGBody'].errors.required">
                                Message is required.
                              </div>
                            </div>
                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info btn-raised" (click)="sendEmailNotification()">Send</button>
                  <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                </div>
              </ng-template>

              <a class="btn btn-raised gradient-nepal white mr-1 btn-round" style="display: none;" *ngIf="isRecuruiter"
                (click)="open(SMSContent)">
                <i class="ft-message-square font-small-3"></i> Message</a>
              <a class="btn btn-raised gradient-crystal-clear white mr-1 btn-round" style="display: none;" *ngIf="isRecuruiter">
                <i class="ft-video font-small-3"></i> Video Call</a>
              <a class="btn btn-raised gradient-crystal-clear white mr-1 btn-round" *ngIf="isRecuruiter" style="display: none;"
                (click)="open(EmailContent)">
                <i class="fa fa-envelope-o font-small-3"></i> Send Email</a>
            </div>
            <hr class="grey">
            <div class="row grey">
              <div class="col-4">
                <a>
                  <i class="ft-star mr-1"></i>
                  <span>0</span>
                </a>
              </div>
              <div class="col-4">
                <a>
                  <i class="ft-globe mr-1"></i>
                  <span>India</span>
                </a>
              </div>
              <div class="col-4">
                <a>
                  <i class="ft-book mr-1"></i>
                  <span>{{totalcoins}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-8">
      <div class="card">
        <div class="card-header" style="padding-bottom: 0px;">
          <h4 class="card-title">Artifacts</h4>
        </div>
        <div class="card-body">
          <div id="viewContainer">

            <div class="page active" *ngFor="let item of doucumentList">
              <div class="card-block pt-3 text-left">
                <div class="clearfix">
                  <h5 class="text-bold-500 info float-left">{{item.title}}</h5>
                  <div class="float-right">
                    <span class="danger f15px">{{item.publishedtime | date: 'dd/MM/yyyy'}}</span>
                  </div>
                </div>
                <div class="bk-wd"> {{item.description}}</div>
                <br>
                <div class="text-center" [ngSwitch]="item.documenttype">
                  <img *ngSwitchCase="'Image'" class="width-75" width="50px" height="50px" src="https://appliv-domestic.akamaized.net/v1/175x175/r/icon/000983343/a5f6dcb2cb8b7630dc5ecdaeecd6a2de.png">
                  <img *ngSwitchCase="'Video'" class="width-75" width="50px" height="50px" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/file-video-icon.png">
                  <img *ngSwitchDefault class="width-75" width="50px" height="50px" src="http://icons.iconarchive.com/icons/hopstarter/soft-scraps/256/Document-Microsoft-Word-icon.png">
                </div>
                <br>
                <div class="actions float-left">
                  <a _ngcontent-c5="" class="btn btn-flat btn-warning f14 " style="padding-top: 3px;">
                    <span _ngcontent-c5="" _ngcontent-c7="" class="fa ft-thumbs-up"></span>&nbsp; {{item.totallikes}}
                  </a>
                  <a _ngcontent-c5="" class="btn btn-flat btn-warning f14 " style="padding-top: 3px;">
                    <span _ngcontent-c5="" _ngcontent-c7="" class="fa ft-thumbs-down"></span>&nbsp;
                    {{item.totaldislikes}}
                  </a>
                  <a _ngcontent-c5="" class="btn btn-flat btn-warning f14 " style="padding-top: 3px;">
                    <span _ngcontent-c5="" _ngcontent-c7="" class="fa ft-eye"></span>&nbsp; {{item.totalviews}}
                  </a>
                </div>
                <div class="actions float-right">
                  <a _ngcontent-c5="" href="{{item.documenturl}}" class="btn btn-raised btn-warning shadow-z-2 btn-round mr-1 f12px">
                    <span _ngcontent-c5="" _ngcontent-c7="" class="fa ft-download"></span> Download</a>
                </div>
              </div>
            </div>
            <!-- 
            <div class="page" id="">
              <div class="card-block pt-3 text-left">
                <div class="clearfix">
                  <h5 class="text-bold-500 info float-left">Test Video 1</h5>
                  <div class="float-right">
                    <span class="danger f15px">June 06 2018</span>
                  </div>
                </div>
                <div class="bk-wd "> Etiam porta sem malesuada magna mollis euismod.</div>
                <br>
                <div class="text-center">
                  <img class="width-75" width="100px" height="100px" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/file-video-icon.png">
                </div>
                <br>
                <div class="actions float-left">
                  <a _ngcontent-c5="" class="btn btn-flat btn-warning f14 " style="padding-top: 3px;">
                    <span _ngcontent-c5="" _ngcontent-c7="" class="fa ft-thumbs-up"></span>&nbsp; 746
                  </a>
                  <a _ngcontent-c5="" class="btn btn-flat btn-warning f14 " style="padding-top: 3px;">
                    <span _ngcontent-c5="" _ngcontent-c7="" class="fa ft-thumbs-down"></span>&nbsp; 891
                  </a>
                  <a _ngcontent-c5="" class="btn btn-flat btn-warning f14 " style="padding-top: 3px;">
                    <span _ngcontent-c5="" _ngcontent-c7="" class="fa ft-eye"></span>&nbsp; 56
                  </a>
                </div>
                <div class="actions float-right">
                  <a _ngcontent-c5="" class="btn btn-raised btn-warning shadow-z-2 btn-round mr-1 f12px" (click)="open(VideoContent)">
                    <span _ngcontent-c5="" _ngcontent-c7="" class="fa ft-play-circle"></span> Preview</a>
                </div>
              </div>
            </div> -->

            <!-- Video Preview Pop-Up starts -->
            <ng-template #VideoContent let-c="close" let-d="dismiss" class="modal-lg">
              <div class="modal-header">
                <h4 class="modal-title">Preview</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="form form-horizontal">
                  <div class="row">
                    <div class="col-xl-12 col-lg-6 col-md-12">
                      <!-- Player Starts -->
                      <section id="players">
                        <div class="card">
                          <div class="card-block">
                            <div class="row">
                              <div class="col-md-12 col-lg-12">
                                <vg-player>
                                  <vg-overlay-play></vg-overlay-play>
                                  <vg-buffering></vg-buffering>

                                  <vg-scrub-bar>
                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                                  </vg-scrub-bar>

                                  <vg-controls>
                                    <vg-play-pause></vg-play-pause>
                                    <vg-playback-button></vg-playback-button>

                                    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                                    <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

                                    <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                                    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                                    <vg-track-selector></vg-track-selector>
                                    <vg-mute></vg-mute>
                                    <vg-volume></vg-volume>

                                    <vg-fullscreen></vg-fullscreen>
                                  </vg-controls>

                                  <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
                                    <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                                    <source src="http://static.videogular.com/assets/videos/videogular.ogg" type="video/ogg">
                                    <source src="http://static.videogular.com/assets/videos/videogular.webm" type="video/webm">

                                    <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt"
                                      srclang="en" default>
                                    <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt"
                                      srclang="es">
                                  </video>
                                </vg-player>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                      <!-- Player Ends -->
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
              </div>
            </ng-template>
            <!-- Video Preview Pop-Up ends -->

            <!-- <div class="page" id="">
              <div class="card-block pt-3 text-left">
                <div class="clearfix">
                  <h5 class="text-bold-500 info float-left">Test Excel 1</h5>
                  <div class="float-right">
                    <span class="danger f15px">Mar 28 2018</span>
                  </div>
                </div>
                <div class="bk-wd "> Etiam porta sem malesuada magna mollis euismod.</div>
                <br>
                <div class="text-center">
                  <img class="width-75" width="100px" height="100px" src="http://files.softicons.com/download/application-icons/soft-scraps-icons-by-deleket/ico/Document%20Microsoft%20Excel-01.ico">
                </div>
                <br>
                <div class="actions float-left">
                  <a _ngcontent-c5="" class="btn btn-flat btn-warning f14 " style="padding-top: 3px;">
                    <span _ngcontent-c5="" _ngcontent-c7="" class="fa ft-thumbs-up"></span>&nbsp; 546
                  </a>
                  <a _ngcontent-c5="" class="btn btn-flat btn-warning f14 " style="padding-top: 3px;">
                    <span _ngcontent-c5="" _ngcontent-c7="" class="fa ft-thumbs-down"></span>&nbsp; 127
                  </a>
                  <a _ngcontent-c5="" class="btn btn-flat btn-warning f14 " style="padding-top: 3px;">
                    <span _ngcontent-c5="" _ngcontent-c7="" class="fa ft-eye"></span>&nbsp; 92
                  </a>
                </div>
                <div class="actions float-right">
                  <a _ngcontent-c5="" class="btn btn-raised btn-warning shadow-z-2 btn-round mr-1 f12px">
                    <span _ngcontent-c5="" _ngcontent-c7="" class="fa ft-download"></span> Download</a>
                </div>
              </div>
            </div> -->
            <!-- <div class="page" id="">
              <div class="card-block pt-3 text-left">
                <div class="clearfix">
                  <h5 class="text-bold-500 info float-left">Test PDF 1</h5>
                  <div class="float-right">
                    <span class="danger f15px">Mar 28 2018</span>
                  </div>
                </div>
                <div class="bk-wd "> Etiam porta sem malesuada magna mollis euismod.</div>
                <br>
                <div class="text-center">
                  <img class="width-75" width="100px" height="100px" src="https://corehotels.gr/wp-content/uploads/2017/05/circle-icon.png">
                </div>
                <br>
                <div class="actions float-left">
                  <a _ngcontent-c5="" class="btn btn-flat btn-warning f14 " style="padding-top: 3px;">
                    <span _ngcontent-c5="" _ngcontent-c7="" class="fa ft-thumbs-up"></span>&nbsp; 546
                  </a>
                  <a _ngcontent-c5="" class="btn btn-flat btn-warning f14 " style="padding-top: 3px;">
                    <span _ngcontent-c5="" _ngcontent-c7="" class="fa ft-thumbs-down"></span>&nbsp; 127
                  </a>
                  <a _ngcontent-c5="" class="btn btn-flat btn-warning f14 " style="padding-top: 3px;">
                    <span _ngcontent-c5="" _ngcontent-c7="" class="fa ft-eye"></span>&nbsp; 92
                  </a>
                </div>
                <div class="actions float-right">
                  <a _ngcontent-c5="" class="btn btn-raised btn-warning shadow-z-2 btn-round mr-1 f12px">
                    <span _ngcontent-c5="" _ngcontent-c7="" class="fa ft-download"></span> Download</a>
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Elements</h4>
        </div>
        <div class="card-body">
          <section id="accordion">
            <div class="col-md-12 col-lg-12">

              <!-- <div *ngFor="let keydata of objectKeys(element)">
                <span>{{element[keydata] | json}}</span>
              </div> -->

              <ngb-accordion [closeOthers]="true" activeIds="{{activekey}}">
                <ng-container *ngFor="let keydata of objectKeys(element)">
                  <ngb-panel id="{{keydata}}" title="{{element[keydata][0]?.keyname}}">
                    <ng-template ngbPanelContent>
                      <ngb-accordion [closeOthers]="true" activeIds="{{keydata}}">
                        <ng-container *ngFor="let tagdata of element[keydata]">
                          <ngb-panel id="{{tagdata.tagid}}" title="{{tagdata.tagname}} - {{tagdata.percentage}}%">

                          </ngb-panel>
                        </ng-container>
                      </ngb-accordion>
                    </ng-template>
                  </ngb-panel>
                </ng-container>
              </ngb-accordion>


            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

</section>
