.ng2-smart-pagination{
    &.pagination{
        .page-link{
            line-height: 1rem;
        }
    }
}

.ng2-smart-filters
{
    display: none;
}


ngb-accordion [role=tabpanel]
{
    padding: 0px !important;
    margin-bottom:3px;
}

ngb-accordion [role=tab]
{
    padding: 0px !important;    
    margin-left: -15px;
}