<div class="">
  <div class="container-fluid">

    <div class="row">
      <div class="card col-md-3">
        <div class="">
          <div class="card-header">
            <h4 class="card-title">FILTER LIST</h4>
          </div>
          <div class="card-body">
            <section id="accordion">
              <ngb-accordion [closeOthers]="true" activeIds="1">
                <!-- <ngb-panel id="1" class="pnlTab" style="padding: 0px !important;" title="Filter by Key %">
                                    <ng-template ngbPanelContent>
                                        <nouislider [config]="someKeyboardConfig" style="height: 60px; font-size: 12px;" [(ngModel)]="someKeyboard"></nouislider>
                                    </ng-template>
                                </ngb-panel> 
                                <ngb-panel id="2">
                                    <ng-template ngbPanelTitle>
                                        <span>Filter by Certifications</span>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <fieldset class="form-group">
                                            <select class="form-control" id="selCertType">
                                                <option>Select Certification Type</option>
                                                <option>All</option>
                                                <option>Foundation Certified</option>
                                                <option>Practitioner Certified</option>
                                                <option>Expert Certified</option>
                                            </select>
                                        </fieldset>
                                    </ng-template>
                                </ngb-panel>-->
                <ngb-panel id="3">
                  <ng-template ngbPanelTitle>
                    <span>Filter By Colleges</span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <fieldset class="form-group">
                      <select class="form-control" id="selCollege" multiple="multiple" (change)="filterClgData($event)">
                        <option *ngFor="let ele of collegelist" value="{{ele}}">{{ele}}</option>
                      </select>
                    </fieldset>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="4">
                  <ng-template ngbPanelTitle>
                    <span>Filter by Department
                    </span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <fieldset class="form-group">
                      <select class="form-control" id="selDept" multiple="multiple" (change)="filterDeptData($event)">
                        <option *ngFor="let ele of deptlist" value="{{ele}}">{{ele}}</option>
                      </select>
                    </fieldset>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
              <br />
              <a _ngcontent-c5="" class="btn btn-raised btn-xs btn-info shadow-z-2 btn-round mr-1" (click)="clearFilter()">Clear
                Filter</a>
            </section>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <section id="advanced">
          <div class="row text-left">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">STUDENTS LIST</h4>
                </div>
                <div class="card-body">
                  <div class="card-block">
                    <input #search class="search mb-2" type="text" placeholder="Search..." (input)="filterSearchField($event)">
                    <ng2-smart-table [settings]="searchfilter" [source]="source"></ng2-smart-table>


                    <!-- Video Preview Pop-Up starts -->
                    <ng-template #VideoContent let-c="close" let-d="dismiss" class="modal-lg">
                      <div class="modal-header">
                        <h4 class="modal-title">Preview</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form class="form form-horizontal">
                          <div class="row">
                            <div class="col-xl-12 col-lg-6 col-md-12">
                              <!-- Player Starts -->
                              <section id="players">
                                <div class="card">
                                  <div class="card-block">
                                    <div class="row">
                                      <div class="col-md-12 col-lg-12">
                                        <vg-player>
                                          <vg-overlay-play></vg-overlay-play>
                                          <vg-buffering></vg-buffering>

                                          <vg-scrub-bar>
                                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                                          </vg-scrub-bar>

                                          <vg-controls>
                                            <vg-play-pause></vg-play-pause>
                                            <vg-playback-button></vg-playback-button>

                                            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                                            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

                                            <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                                            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                                            <vg-track-selector></vg-track-selector>
                                            <vg-mute></vg-mute>
                                            <vg-volume></vg-volume>

                                            <vg-fullscreen></vg-fullscreen>
                                          </vg-controls>

                                          <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
                                            <source src="http://static.videogular.com/assets/videos/videogular.mp4"
                                              type="video/mp4">
                                            <source src="http://static.videogular.com/assets/videos/videogular.ogg"
                                              type="video/ogg">
                                            <source src="http://static.videogular.com/assets/videos/videogular.webm"
                                              type="video/webm">

                                            <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt"
                                              srclang="en" default>
                                            <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt"
                                              srclang="es">
                                          </video>
                                        </vg-player>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                              <!-- Player Ends -->
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                      </div>
                    </ng-template>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>

    </div>

    <ng-template #viewprofilecontent let-modal let-close="close" let-save="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">View Profile</h4>
        <button type="button" class="close" aria-label="Close" (click)="close('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-generateprofile [userId]="userid"></app-generateprofile>
      </div>
    </ng-template>
  </div>
</div>
